
.section-four {
  margin: 50px;
}

.video {
  margin: 30px;
  height: 100%;
  width: 100%;
}

.blog {
  margin: 10px;
}

.blog img {
  height: 100%;
  width: 100%; /* Use 100% width for responsiveness */
  object-fit: cover; /* Maintain aspect ratio for the image */
}

.blog-content {
  padding: 20px; /* Adjusted padding for a cleaner look */
  background: #f7f7f7;
}

.blog span {
  display: block;
}

.badge {
  background: var(--lightGreen);
  width: 140px;
  border-radius: 5px;
  padding: 5px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.misc-info {
  font-size: 14px;
  color: var(--dark);
  margin-top: 16px;
}

.blog-title {
  font-size: 20px;
  font-weight: 900;
}

.blog-text {
  font-weight: 300;
}
.blog-image {
  height: 300px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
}


